:root{
	--primary-text-color:rgba(117, 117, 117, 1);
	--title-text-color: rgba(33, 33, 33, 1);
	--accent-color: rgba(33, 150, 243, 1);
	--primary-bg-color:rgba(255, 255, 255, 1);
	--exyra-bg-color:rgba(47, 48, 58, 1)
}


ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}

h1,
h2,
h3,
p{
	margin-top: 0;
}

body{
	background-color:var(--primary-bg-color);
	color: var(--primary-text-color);
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	letter-spacing: 0.03em;
}
.container{
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
section{
	padding-top: 94px;
	padding-bottom: 94px;
}

/* title */
.title{
	margin-top: 0;
	margin-bottom: 50px;
	color:var(--title-text-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.logo{
	color: var(--title-text-color);
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
}
.logo span{
	color: var(--accent-color);
}
.site-link,
.contacts-link{
	color: var(--title-text-color);
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.contacts-link:hover,
.site-link:hover,
.site-link:focus,
.contacts-link:focus{
	color: var(--accent-color);
}
.current{
	color: var(--accent-color);
}
/* introduction */
.introduction{
	background-color: var(--exyra-bg-color);
	letter-spacing: 0.06em;
	text-align: center;
}
.introduction-title{
	margin-bottom: 30px;
	color: var(--primary-bg-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-transform: uppercase;
}
.button{
	border-radius: 4px;
	border: none;
	display: inline-block;
	padding: 10px 32px;
	min-width: 200px;

	color: var(--primary-bg-color);
	background-color: var(--accent-color);
	font-family: inherit;
	letter-spacing: 0.06em;
	cursor: pointer;
	text-align: center;
}

/* company */
.company-subtitle{
	margin-bottom: 10px;
	color:var(--title-text-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}
.company-text{
	line-height: 1.71;
}

/* Our team */
.team{
	font-size: 16px;
	line-height: 1.16;
}
.team-subtitle{
	color: var(--title-text-color);
	font-weight: 500;
}

/* footer */
footer{
	background-color: var(--exyra-bg-color);
}
.footer-logo{
	display: inline-block;
	margin-bottom: 20px;
	color: var(--primary-bg-color);
}
.address-link{
	color: rgba(255, 255, 255, 0.6);
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 1.71;
}
.link-white{
	color: var(--primary-bg-color);
}
.address-link:focus,
.address-link:hover{
	color: var(--accent-color);
}

/* portgolio */

.btn-nav{
	display: inline-block;
	border-radius: 4px;
	padding: 6px 22px;
	border: none;
	min-width: 73px;
	color: var(--title-text-color);
	background-color:rgba(245, 244, 250, 1);
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;
	cursor: pointer;
	text-align: center;
}

.btn-nav:hover,
.btn-nav:focus{
	background-color: var(--accent-color);
	color: var(--primary-bg-color);
}

.portfolio-subtitle{
	margin-top: 10px;
	margin-bottom: 4px;
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.portfolio-text{
	color: var(--primary-text-color);
	font-size: 16px;
	line-height: 1.88;
}